<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Zuwerk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %><%= csp_meta_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="topbar"><%= link_to "Zuwerk", root_path, class: "brand" %><% if current_user %><nav><span><%= current_user.name %></span><%= button_to "Log out", session_path, method: :delete, class: "link-button" %></nav><% end %></header>
    <main><% flash.each do |type, message| %><div class="flash <%= type %>"><%= message %></div><% end %><%= yield %></main>
  </body>
</html>
